<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/joinpagefuncs.js"></script>
  </head>
  <body>
    <% include ../views/header.ejs %>
    <div id = "Wrapper">
      <h1>회원 가입을 축하합니다!<h1>
      <p>입력해 주신 개인정보는 호로록! 하겠습니다.</p>
    </div>
  </body>
</html>
