<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/joinpagefuncs.js"></script>
  </head>
  <body>
    <% include ../views/header.ejs %>
    <div id = "FormWrapper">
      <form action="/Board/Submit" method="POST">
        <input type="text" name="title" id = "title"  placeholder="제목">
        <textarea name="data"></textarea>
        <input type="submit" value = "게시하기">
      </form>
    </div>
  </body>
</html>
